@import "../../styles//mixins/counters";

@include define-counter('inner', 2rem);
@include define-counter-grid('inner');
@include define-counter-name('inner', #eeeeee, #444444);

button {        
    &.increaseBtnSmall {
        @include btn-default(100%);

        &:hover {
            background-color: #03A9F4;
            color: #ffffff;
        }
    }
    
    &.decreaseBtnSmall {
        @include btn-default(100%);

        &:hover {
            background-color: rgb(244, 3, 95);
            color: #ffffff;
        }
    }
}