@import "../../styles/mixins/_counters";
@import "../../styles/variables/_colors";

@include define-counter('inner', 2rem);
@include define-counter-grid('inner', #ffffff);
@include define-counter-name('inner', #eeeeee, #444444);

button {        
    &.increaseBtnSmall {
        @include btn-default(100%);

        &:hover {
            background-color: $primary-color;
            color: #ffffff;
        }
    }
    
    &.decreaseBtnSmall {
        @include btn-default(100%);

        &:hover {
            background-color: $secondary-color;
            color: #ffffff;
        }
    }
}