@mixin btn-default($width, $padding) {
    width: $width;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    padding: $padding;
    font-weight: bold;
    font-size: 1rem;
    color: #cccccc;
    outline: none;
    transition: background-color .5s;
    transition: color .5s;
}

@mixin define-counter($inner-or-outer, $fontSize) {
    .counter-#{$inner-or-outer} {
        font-size: $fontSize;
        font-weight: lighter;
    }
}

@mixin define-counter-grid($inner-or-outer) {
    .grid-counter-#{$inner-or-outer} {
        border: 2px solid #eeeeee;
        padding-bottom: 1rem;
    }
}

