@mixin btn-default($width) {
    width: $width;
    height: 100%;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    font-weight: bold;
    font-size: 1rem;
    color: #cccccc;
    outline: none;
    transition: background-color .5s;
    transition: color .5s;
}

@mixin define-counter($inner-or-outer, $fontSize) {
    .counter-#{$inner-or-outer} {
        font-size: $fontSize;
        font-weight: lighter;
    }
}

@mixin define-counter-grid($inner-or-outer, $bgColor) {
    .grid-counter-#{$inner-or-outer} {
        border-bottom: 1px solid #eeeeee;
        background-color: $bgColor;
    }
}

@mixin define-counter-name($inner-or-outer, $bgColor, $fontColor) {
    .counterName-#{$inner-or-outer} {
        font-weight: lighter;
        background-color: $bgColor;
        color: $fontColor;
    }
}



